<template>
  <div>
    <div>
      <p> Componente Nuevo </p>
    </div>
    <div>
      <p> Componente Nuevo </p>
    </div>
    <div>
      <p> Componente Nuevo </p>
    </div>
    <div>
      <p> Componente Nuevo </p>
    </div>
  </div>
</template>

<script>
export default {
 
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
